@supports (-webkit-user-select: none) {
  :root {
    --url_header: url('chrome-extension://__MSG_@@extension_id__/icons/forbidden.svg');
  }
}
@supports (-moz-user-select: none) {
  :root {
    --url_header: url('moz-extension://__MSG_@@extension_id__/icons/forbidden.svg');
  }
}

.hide {
  display: none !important;
}

.dim:not(:hover) > * {
  opacity: 0.05 !important;
  filter: alpha(opacity=5) !important;
  zoom: 1 !important;
  position: relative !important;
  box-shadow: none;
}

.dim:not(:hover) > * > * > * {
  max-height: 150px !important;
  overflow: hidden !important;
}

.dim:hover > * > * > * {
  max-height: auto;
  overflow: visible;
}

.dim.showIcon:not(:hover)::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: var(--url_header);
  background-size: cover;
  width: 30px;
  height: 30px;
}

.dim:hover > * {
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
}

.wide-mode {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  width: 100% !important;
}
