.hide {
  display: None
}

.dim:not(:hover) > div {
  opacity: 0.05;
  filter: alpha(opacity=5);
  zoom: 1;
  position: relative;
}

.dim:not(:hover) > div > div > div {
  max-height: 150px;
  overflow: hidden;
}

.dim:hover > div > div > div {
  max-height: auto;
  overflow: visible;
}


.dim.showIcon:not(:hover)::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('chrome-extension://__MSG_@@extension_id__/icons/forbidden.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
}

.dim:hover > div {
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
}



body.darkMode {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

body.darkMode img, body.darkMode video,
body.darkMode :not(object):not(body)>embed,
body.darkMode object,
body.darkMode svg image,
body.darkMode [style*="background:url"],
body.darkMode [style*="background-image:url"],
body.darkMode [style*="background: url"],
body.darkMode [style*="background-image: url"],
body.darkMode [background],
body.darkMode twitterwidget,
body.darkMode .sr-reader,
body.darkMode .sr-backdrop {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

body.darkMode [style*="background:url"] *,
body.darkMode [style*="background-image:url"] *,
body.darkMode [style*="background: url"] *,
body.darkMode [style*="background-image: url"] *,
body.darkMode input,
body.darkMode [background] *,
body.darkMode img[src^="https://s0.wp.com/latex.php"],
body.darkMode twitterwidget .NaturalImage-image {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

